PPOCR_IMAGE=ghcr.io/lxw112190/lw.ppocr.opencvdnn:0.3.0
PPOCR_PORT=8787
PPOCR_API_KEY=
PPOCR_ENGINE_INSTANCES=1
PPOCR_WORKER_THREADS=4
PPOCR_LOGGING_ENABLED=true
PPOCR_FILE_LOGGING_ENABLED=true
PPOCR_REQUEST_LOGGING_ENABLED=true
